/*
    VARS

    Holds all the variables that are used.
*/

/*
 * COLORS
*/

$color--grey: #f3f3f3;
$color--accent: #ff9901;
$color--accent-dark: #333;

/*
 * FONT
*/

$font--bold: bold;



%center {
    width:100%;
    max-width: 60em;
    margin: 0 auto;
}
