.site__navigation {
    ul {
        text-align: right;
    }

    .nav--item {
        color: $color--accent;
        padding: .4em 1.5em;
        list-style-type: none;
    }
}

@media all and (max-width: 50em) {
    .site__navigation {
        ul {
            text-align: left;
        }

        .nav--item {
            color: $color--accent;
            padding: .4em .5em;
            list-style-type: none;
            display:inline;
        }
    }
}